<div class="my-recipes-toolbar">
    <label class="my-recipes-toolbar__search" for="recipe-search">
        <span class="my-recipes-toolbar__search-icon" aria-hidden="true">
            ⌕
        </span>

        <input id="recipe-search" type="search" placeholder="Search your recipes..." autocomplete="off" />
    </label>

    <button class="my-recipes-toolbar__filter" type="button" aria-label="Filter recipes">
        <span>All recipes</span>

        <span aria-hidden="true">
            ▾
        </span>
    </button>
</div>