@use '@angular/material' as mat;

html {
  height: 100%;

  @include mat.theme(
    (
      color: (
        primary: mat.$green-palette,
        tertiary: mat.$orange-palette,
      ),
      typography: (
        brand-family: 'Inter',
        plain-family: 'Inter',
      ),
      density: 0,
    )
  );
}