<header class="my-recipes-header">
    <div class="my-recipes-header__content">
        <div class="my-recipes-header__copy">
            <span class="my-recipes-header__eyebrow">
                Your kitchen
            </span>

            <h1 class="my-recipes-header__title">
                My <span>Recipes</span>
            </h1>

            <p class="my-recipes-header__description">
                Keep the recipes you've created, customized,
                and made your own.
            </p>
        </div>

        <a class="btn btn--primary my-recipes-header__action" routerLink="/my-recipes/create">
            <span aria-hidden="true">+</span>
            Create recipe
        </a>
    </div>
</header>